<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/select/select2.js"></script>
<link rel="stylesheet" href="../css/screen.css" type="text/css"
	media="screen" title="default" />

</head>
<body>
	<div id="bloc_page">
		<!--  start nav-outer-repeat................................................................................................. START -->
		<div class="nav-outer-repeat">
			<!--  start nav-outer -->
			<div class="nav-outer">

				<!--  start nav -->
				<div class="nav">
					<div class="table">

						<ul class="current">
							<li><a href="/accueil/"><b>Accueil</b></a></li>
						</ul>

						<div class="nav-divider">&nbsp;</div>

						<ul class="select">
							<li><a href="/caisse/"><b>Caisse</b></a></li>
						</ul>
						<div class="nav-divider">&nbsp;</div>
						<ul class="select">
							<li><a href="/produit/"><b>Produit</b></a></li>
						</ul>

						<div class="nav-divider">&nbsp;</div>

						<ul class="select">
							<li><a href="/client/"><b>Client</b></a></li>
						</ul>
						<div class="nav-divider">&nbsp;</div>
						<ul class="select">
							<li><a href="#nogo"><b>Facture</b></a></li>
						</ul>

						<div class="nav-divider">&nbsp;</div>

					</div>
				</div>
			</div>
		</div>

	<section>
		<article>
			<h1>
				<img src="images/ico_epingle.png" alt="Catégorie voyage"
					class="ico_categorie" />les produits
			</h1>
			<h1></h1>
			<form th:action="@{/caisse}" th:object="${product}" method="post">
				<p>
					produit: <input type="text" th:field="*{name}" />
				</p>
				<p>
					<input type="submit" value="Submit" />
				</p>
			</form>

		</article>

		<aside>
			<h1>LE PANIER</h1>
			<ul>
				<li th:each="product : ${session.panier}" th:text="${product.name}"></li>
			</ul>

		</aside>
		<aside>
			<h1>LE PANIER</h1>
			
			<table>
				<tr th:each="product : ${session.panierListe}">
					<td th:text="${product.name}"></td>
					<td th:text="${product.Prix}"></td>
					<td th:text="${product.Prix}"></td>
				</tr>
			</table>

		</aside>
	</section>
	
	<footer> ICI ON VERA APRES CE QU ON VA METTRE </footer>
	 <!-- récupérer les noms des différents produits et afficher sur les boutons du tableau -->

    <div style=" border: 2px solid #a1a1a1; padding: 10px 20px; background: #dddddd; width: 350px; border-radius: 15px;">
    	<span th:each="produit : ${products}">
    	<form style="display: inline" th:action="@{/ajoutPanier(id=${produit.id})}" th:object="${produit}" method="post">
 			<input type="submit"  th:value="${produit.name}" />
 		</form>
 		</span>
 	</div>

 </div>
</body>
</html>
