<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<table>
<th>Libellé</th>
<th>Prix Unitaire</th>
<th>quantité</th>
<th>Montant</th>

<tr th:each="fact : ${factures}">
	
		               <td><span th:text="${fact.Nomclient}"></span></td>
						<td><span th:text="${fact.mesproduits}"></span></td>
						<td><span th:text="${fact.montant}"></span></td>
						<td><span th:text="${fact.moyen}"></span></td>

	</tr>

</table>

</body>
</html>