<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<td><FORM ACTION="../create/client/"><INPUT TYPE="SUBMIT" VALUE="Creer un nouveau client" /></FORM></td>
		<td><FORM ACTION="../create/produit/"><INPUT TYPE="SUBMIT" VALUE="Creer un nouveau produit" /></FORM></td>
	</table>
	<table  cellpadding="15" border="2" align="center">
		<thead>
			<!-- En-tête du tableau -->
			<tr>
				<th>NOM</th>
				<th>TYPE</th>
				<th>PRIX</th>
				<th>DESCRIPTION</th>
				<th>STOCK</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr th:each="produit : ${produits}">
				<td><span th:text="${produit.name}"></span></td>
				<td><span th:text="${produit.Typeproduit}"></span></td>
				<td><span th:text="${produit.prix}"></span></td>
				<td><span th:text="${produit.description}"></span></td>
				<td><span th:text="${produit.stock}"></span></td>
				<td><span><a
						th:href="@{/edit/produit(id=${produit.id})}">Editer</a></span></td>
				<td><span><a
						th:href="@{/delete/produit(id=${produit.id})}">Supprimer</a></span></td>
			</tr>

		</tbody>

	</table>
</body>
</html>