<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<!-- <a href="/create/client/">Creer un nouveau client</a>
	<a href="/create/produit/">Creer un nouveau produit</a>-->
	<table>
	<td><FORM ACTION="../create/client/"> <INPUT TYPE="SUBMIT" VALUE="Creer un nouveau client"/></FORM></td>
	<td><FORM ACTION="../create/produit/"> <INPUT TYPE="SUBMIT" VALUE="Creer un nouveau produit"/></FORM></td>
	</table>
	
	<form>
  		<!-- <fieldset>
   		 <legend>Rechercher un client</legend>-->
   			 <table class="vide">
   			 	<tr class="espacement">
   			 		<td>
   			 			<label> Name</label>
   			 		</td> 
   			 		<td> 
   			 			<label> Liste de client</label>
   			 		</td>
   			 	</tr>
   			 	<tr>
   			 		<td><input type="text" name="Name" placeholder="Name"/></td>
   			 		<td><SELECT></SELECT></td>
   			 	</tr>
   			 	<tr></tr>
   			 	<tr class="espacement">
   			 		<td><input type="button" value="Rechercher" /></td>
   			 	</tr>
   			 </table>
  		<!-- </fieldset>-->
	</form>

	<table  cellpadding="15" border="2" align="center">
		<thead>
			<!-- En-tête du tableau -->
			<tr>
				<th>NOM</th>
				<th>COMPAGNIE</th>
				<th>EMAIL</th>
				<th>ADRESSE</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="client : ${clients}">
			<td><span th:text="${client.name}"></span></td>
			<td><span th:text="${client.compagnie}"></span></td>
			<td><span th:text="${client.Email}"></span></td>
			<td><span th:text="${client.Adresse}"></span></td>
			<!--<td><span th:text="${client.statuts}"></span></td>-->
			<td><span><a th:href="@{/edit/client(id=${client.id})}">Editer</a></span></td>
			<td><span><a th:href="@{/delete/client(id=${client.id})}">Supprimer</a></span></td>
		</tr>
		
		</tbody>
		
	</table>
</body>
</html>