<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="/select/select2.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/select/select2.js"></script>
<script>
	$(document).ready(function() {
		$("#zzz").select2();
	});
	
	function modifier()
	{
	var valeur = document.forms['form1'].elements['zzz'].value; // Contient la valeur de l'<input />
	document.location.href = '../client/recherche?id='+valeur;
	}
</script>

</head>
<body>

	<table>
		<td><FORM ACTION="../create/client/"><INPUT TYPE="SUBMIT" VALUE="Creer un nouveau client" /></FORM></td>
		<td><FORM ACTION="../create/produit/"><INPUT TYPE="SUBMIT" VALUE="Creer un nouveau produit" /></FORM></td>
	</table>

	<form action="../client/recherche" method="get" id="form1" name="form1">
		<table class="vide">
			<tr class="espacement">
				<td><label> Liste de client</label></td>
			</tr>
			<tr>
				<td>
					<SELECT class="taille" id="zzz" name="zzz"  >
							<option th:each="client : ${clients}"  th:text="${client.name}" th:value="${client.id}" id="${client.id}" value="${client.id}"></option>
					</SELECT>
				</td>
				<td> <a href="javascript:modifier();"> <input value="Rechercher" class="btn btn-search"/> </a> </td>
			</tr>
		</table>
	</form>

	<table cellpadding="15" border="2" align="center">
		<thead>
			<!-- En-tête du tableau -->
			<tr>
				<th>NOM</th>
				<th>COMPAGNIE</th>
				<th>EMAIL</th>
				<th>ADRESSE</th>
				<th>STATUT</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="client : ${clients}">
				<td><span th:text="${client.name}"></span></td>
				<td><span th:text="${client.compagnie}"></span></td>
				<td><span th:text="${client.Email}"></span></td>
				<td><span th:text="${client.Adresse}"></span></td>
				<td><span th:text="${client.role}"></span></td>
				<td><span><a th:href="@{/edit/client(id=${client.id})}">Editer</a></span></td>
				<td><span><a th:href="@{/delete/client(id=${client.id})}">Supprimer</a></span></td>
			</tr>
		</tbody>

	</table>
</body>
</html>